@import url(https://fonts.google.com/specimen/BBH+Sans+Hegarty#:~:text=Whereas%20a%20common%20understanding%20of%20these%20rights%20and%20freedoms%20is);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a, #3a4452);
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

    input{
        width: 320px;
        border:none ;
        padding: 24px;
        margin: 10px;
        background: transparent;
        box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
        font-size: 40px;
        text-align: right;
        cursor: pointer;
        color: #ffff;

        input::placeholder{
            color: #ffff;
         
    }

       
        }
         button{
                border: none;
                width: 60px;
                height: 40px;
                margin: 10px;
                border-radius: 50%;
                background: transparent;
                color: #ffff;
                box-shadow: -8px -8px 15px rgba(225, 225,225,0.1);
                cursor: pointer;


                
            }

                 .equalbtn{
                    background-color: #fb7c14;
                }

                .operator{
                    color: #6dee0a;
                }
}

